.expense-form {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 7vh;
}

.expense-form h1 {
    color: #323743FF;
    font-family: Lexend, sans-serif;
    font-size: 7vh;
}

.expense-form form {
    display: flex;
    font-size: 2.5vh;
    flex-direction: column;
    align-items: center;
    background: #F5F1FEFF;
    padding: 5vh;
    width: 55vh;
    margin-top: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.expense-form label,
.expense-form select,
.expense-form input {
    margin-bottom: 3vh;
}

.expense-form select,
.expense-form input {
    padding: 1vh;
    border: 1px solid #3498DBFF;
    border-radius: 5px;
    width: 12vw;
    text-align: center;
}

.expense-form input {
    width: 8vw;
}

.expense-form input[type="submit"] {
    background-color: #3498DBFF;
    color: #fff;
    cursor: pointer;
    width: 10vw;
}

.expense-form input[type="submit"]:hover {
    background-color: #2E86C1FF;
}

