
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-evenly;*/
    width: 100%;
    height: 100%;
    padding: 20px;
}

.title{
    font-family: Lexend, sans-serif;
    font-size: 30px;
    height: 15%;
    margin-top: 30px;
    color: #6b888a;
}
.inside-title{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    font-family: Lexend, sans-serif;
    font-size: 18px;
}

.content span{
    font-weight: bold;
    text-decoration: underline;
}

.all-insights{
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    height: 70%;

}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    width: 100%;
    padding: 0px 30px;

}
.Insights{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-around;*/
    width: 550px;
    height: 120px;
    background: #8db5b7;

    border-radius: 6px;
    box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
    padding: 0 15px;
    margin-bottom: 50px;
    font-family: Manrope sans-serif;
    font-size: 18px;
}


.Insights:hover{
   box-shadow: 0px 8px 14px #171a1f, 0px 0px 5px #171a1f;
}

/* -------------------------------------- */