
.content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 30px;
    color: #6b888a;
    margin: 1vh;
}

.inside-title{
    display: flex;
    flex-direction: row;
    font-family: Lexend, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.content span{
    font-weight: bold;
    text-decoration: underline;
}

.all-insights{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
}

.Insights{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 170px;
    background: #F5F1FEFF;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
    margin-bottom: 50px;
    font-family: Manrope sans-serif;
    font-size: 18px;
    text-align: center;
}


.Insights:hover{
   box-shadow: 0 8px 14px #171a1f, 0 0 5px #171a1f;
}