.content {
    display: flex;
    align-items: center;
    gap: 20%;
    padding-top: 20px;
    justify-content: center;
}

.expenses-overview {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.expenses-overview h1 {
    font-size: 2.5em;
    text-align: center;
    color: #3498DBFF;
}

.total-expenses {
    background: #F5F1FEFF;
    width: 55vh;
    padding: 2vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.total-expenses {
    font-family: Lexend, sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    width: 20vw;
}

.total-expenses h1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #323743FF;
}

.expenses-breakdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
