{% extends 'base.html' %}
{% block title %} My expenses {% endblock %}
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('myExpenses.static', filename= 'css/myExpenses.css') }}"/>
{% endblock %}


{% block main %}
<div class="content">

    <div class="expenses-overview">
        <h1>Expenses Overview</h1>
        <br>
        <div class="pie-chart">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="expenses-breakdown">

        <div class="total-expenses">
            <h1>Total Expenses:</h1>
            <span id="totalExpenses">0</span>
        </div>
        <br>
        <div class="expense-dropdown">
            <label>Select Expense Type:</label>
            <select id="expenseTypeDropdown" onchange="updateExpensesByType()">
                // Add default option as fade out text and disable it
                <option value="" disabled selected>Select Type</option>
                <option value="Housing">Housing</option>
                <option value="Food">Food</option>
                <option value="Transportation">Transportation</option>
                <option value="Entertainment">Entertainment</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <br>
        <div class="expenses-by-type">
            <h2>Expenses by Type</h2>
            <div id="expensesByType"></div>
        </div>
    </div>
</div>
{% endblock %}


<<script src=" {{ url_for('myExpenses.static', filename='js/myExpenses.js')}}"></script>
<script src="../../../static/js/staticDB.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
