<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My account</title>
    <link rel="stylesheet" href="../static/css/myAccount.css">
    <link rel="stylesheet" href="../../../static/css/GlobalStyleSheet.css">
    <script src="../static/js/myAccountValidation.js"></script>

</head>
<body>

<div class="top-bar">
    <div class="image-logo">
        <img src="../../../static/pics/X-BudgetSymbol.png" alt="Welcome Image">
    </div>

    <div class="bar-left-side">
        <a href="../../index/templates/index.html" class="logout-button">Log out</a>
        <a href="../../mainMenu/templates/mainMenu.html" class="mainMenu-button">Menu</a>
    </div>

</div>

<div class="page">
    <div class="personal-info">
        <form id="myAccountForm" action="#" method="post">
            <h1 class="update-info-h1">Update your information &#x1F504;</h1>
            <div class="input-row">
                <div class="first-name">
                    <label class="label" for="FirstNameTextBox">First name:</label>
                    <input type="text" id="FirstNameTextBox" name="FirstName" placeholder="First name">
                </div>
                <div class="last-name">

                    <label class="label" for="LastNameTextBox">Last name:</label>
                    <input type="text" id="LastNameTextBox" name="LastName" placeholder="Last name">

                </div>

            </div>

            <div class="email-group">
                <label class="email-label" for="EmailTextBox">Email address:</label>
                <input type="text" id="EmailTextBox" name="Email" placeholder="example.email@gmail.com">
            </div>

            <div class="currNgender-group">
                <div class="currency">
                    <label for="currency-category">Select currency:</label>
                    <select id="currency-category" name="currency-category">
                        <option value="">Choose currency</option>
                        <option value="israeli-new-shekel">₪ ILS</option>
                        <option value="united-states-dollar">$ USD</option>
                        <option value="euro">€ EUR</option>
                        <option value="british-pound-sterling">£ GBP</option>
                    </select>

                </div>
                <div class="gender">

                    <label for="gender-category">Select gender:</label>
                    <select id="gender-category" name="gender-category">
                        <option value="">Choose gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="prefer-not-to-say">Prefer not to say</option>
                    </select>
                </div>
            </div>
            <div class="age">
                <label for="date"> Birthdate:</label>
                <input type="date" id="date" name="date">
            </div>

            <div class="buttons">
                <button type="submit" class="save">Save changes</button>
                <button type="reset" class="cancel">cancel changes</button>
            </div>
        </form>
    </div>


</div>


</body>
</html>