{% extends 'base.html' %}
{% block title %} Sign up {% endblock %}
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('signUp.static', filename= 'css/signUp.css') }}"/>
{% endblock %}

{% block main %}

<div class="content">
    <div class="image-SignUp">
        <img src="{{ url_for('static', filename='pics/X-BudgetSymbol.png') }}" alt="Welcome Image">
    </div>
    <div class="signup-container">
        <form id="signup-form" action="#" method="post">
            <h1>Sign Up &#x1F4DD;</h1>
            <div class="input-row">
                <div class="first-name">
                    <label class="label" for="FirstNameTextBox">First name</label>
                    <input type="text" id="FirstNameTextBox" name="FirstName" placeholder="Input first name">
                </div>
                <div class="last-name">

                    <label class="label" for="LastNameTextBox">Last name</label>
                    <input type="text" id="LastNameTextBox" name="LastName" placeholder="Input last name">

                </div>

            </div>

            <div class="gender-currency">

                <div class="gender">

                    <label for="gender-category">Select gender:</label>
                    <select id="gender-category" name="gender-category">
                        <option value="">Choose gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="prefer-not-to-say">Prefer not to say</option>
                    </select>

                </div>
                <div class="currency">

                    <label for="currency-category">Select currency:</label>
                    <select id="currency-category" name="currency-category">
                        <option value="">Choose currency</option>
                        <option value="israeli-new-shekel">₪ ILS</option>
                        <option value="united-states-dollar">$ USD</option>
                        <option value="euro">€ EUR</option>
                        <option value="british-pound-sterling">£ GBP</option>
                    </select>

                </div>
            </div>


            <div class="input-group">
                <div class="age">
                    <label for="date"> Birthdate:</label>
                    <input type="date" id="date" name="date">
                </div>
            </div>

            <div class="input-group">
                <label class="label" for="EmailTextBox">Email</label>
                <input type="text" id="EmailTextBox" name="Email" placeholder="example.email@gmail.com">
            </div>

            <div class="input-group">
                <label class="label" for="PasswordTextBox">Password</label>
                <input type="text" id="PasswordTextBox" name="Password" placeholder="Enter at least 8+ characters">
            </div>

            <button type="submit">Sign up</button>
            <p>Already have an account? <a href="../../index/templates/index.html">Log in</a></p>
        </form>
    </div>
</div>

    {% endblock %}

<<script src=" {{ url_for('signUp.static', filename='js/signUp.js')}}"></script>
