{% extends 'base.html' %}
 {% block title %} Add Expense {% endblock %}
{% block css %}<link rel="stylesheet" href="../static/css/addExpense.css">{% endblock %}

    {% block main %}
    <div class="expense-form">
        <form id="add-expense-form" method="post">
            <h1>Add Expense &#128178;</h1>
            <label for="expense-category">Select Category:</label>
            <select id="expense-category" name="expense-category">
                <option value="">Choose expense</option>
                <option value="food">Food</option>
                <option value="transportation">Transportation</option>
                <option value="utilities">Utilities</option>
                <option value="entertainment">Entertainment</option>
            </select>

            <label for="expense-amount">Enter Amount:</label>
            <input type="number" id="expense-amount" name="expense-amount" required>

            <input type="submit" value="Submit">
        </form>
    </div>

{% endblock %}
 <script src="../static/javaScript/addExpenseValidation.js"></script>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->


<!--</head>-->

<!--<body>-->

<!--<div class="content">-->

<!--    <div class="top-bar">-->
<!--        <div class="image-logo">-->
<!--            <img src="../../../static/pics/X-BudgetSymbol.png" alt="Welcome Image">-->
<!--        </div>-->

<!--        <div class="bar-left-side">-->
<!--            <a href="../../index/templates/index.html" class="logout-button">Log out</a>-->
<!--            <a href="../../mainMenu/templates/mainMenu.html" class="mainMenu-button">Menu</a>-->
<!--        </div>-->
<!--    </div>-->

