{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block css %}
<link rel="stylesheet"
      href="{{ url_for('index.static', filename= 'css/index.css') }}"/>
{% endblock %}



{% block main %}

<div class="login-container">
    <h2>Welcome Back &#x1F44B;</h2>
    <p class="sub-heading">We are happy to see you again</p>
    <form id="login-form" action="#" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <p class="sub-heading">Don't have an account? <a href="../../signUp/templates/signUp.html">Sign up</a></p>
</div>

<div id="image-welcome">
    <img src="../../../static/pics/X-BudgetSymbol.png" alt="Welcome Image">
</div>

{% endblock %}

<script src=" {{ url_for('index.static', filename='js/signInValidation.js')}}"></script>
<script src=" {{ url_for('index.static', filename='js/staticDB.js')}}"></script>

<!--    <script src="../static/js/signInValidation.js"></script>-->
<!--    <script src="../../../static/js/staticDB.js"></script>-->