{% block page_body_header %}
<header>
   <link rel="stylesheet" href="../../../static/css/GlobalStyleSheet.css">
    <div class="top-bar">
        <div class="image-logo">
            <img src="../../../static/pics/X-BudgetSymbol.png" alt="Welcome Image">
        </div>

        <div class="bar-left-side">
            <a href="../../index/templates/index.html" class="logout-button">Log out</a>
            <a href="../../mainMenu/templates/mainMenu.html" class="mainMenu-button">Menu</a>
        </div>
    </div>
</header>
{% endblock %}
