{% block page_body_header %}

<header>
    <link rel="stylesheet" href="../../../static/css/GlobalStyleSheet.css">
    <div class="top-bar">
        {% if request.path != '/mainMenu' %}
        <div class="image-logo">
            <img src="../../../static/pics/X-BudgetSymbol.png" alt="Welcome Image">
        </div>
        {% if request.path == '/' or request.path == '/login' %}
        <h1 class="animated-text">Ready to take control of your finances?</h1>
        {% endif %}
        <div class="bar-left-side">
            <a href="../../index/templates/index.html" class="logout-button">Log out</a>
            <a href="../../mainMenu/templates/mainMenu.html" class="mainMenu-button">Menu</a>
        </div>
        {% else %}
        <div class="image-logo">
            <img src="../../../static/pics/X-BudgetSymbol.png" alt="Welcome Image">
        </div>

        <div class="top-bar">
            <div class="bar-left-side">
                <a href="../../index/templates/index.html" class="logout-button">Log out</a>
            </div>
        </div>
        {% endif %}
    </div>
</header>
{% endblock %}
